[files]
max_files=10
file_location=uploads

[general]
ai_to_use=ollama
db_to_use=elastic

[ollama]
model_name=granite3-dense:8b
host=localhost:11434

[watsonx.ai]
api_key=EXAMPLE_API_KEY
project_id=EXAMPLE_PROJECT_ID
model_name=mistralai/mixtral-8x7b-instruct-v01

[elastic]
url=
username=
password=
certificate=database/es.crt
index=codeassistant
embedding_model=all-MiniLM-L6-v2

[milvus]